@use 'page';


$light-gray: #e9e9e9;
$table-header: #9887d8;


table {
  margin: 20px auto;
  width: 80%;
  border-collapse: separate;
  border-spacing: 1.5px;


	thead {
    th {
      background: $table-header;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      color: $light-gray;
    }
  }


	th, td {
		font-family: page.$secondary-font;
		font-size: 15px;
		padding: 10px;
		text-align: left;
		background: $light-gray;
	}
}


.titles {
    td {
      font-weight: 600;
    }
}







